:root {
    --cor-fundo: #E0F7D9;
    --cor-texto: #5d363d;
    --fonte-serif: 'Momo Trust Display', serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-serif);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/imgTeste.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    background-color: var(--cor-fundo);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    margin: 0;
    color: var(--cor-texto);
}

.nav a {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-texto);
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    justify-content: center;
}

.wrapper .input-caixa {
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

.input-caixa input {
    font-size: 17px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;

}

.input-caixa input::placeholder {
    color: white;
}

.input-caixa i {
    position: absolut;
    right: 20px;
    top: 50px;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .relembrar-senha {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.relembrar-senha label input {
    accent-color: #fff;
    margin-right: 3px;

}

.relembrar-senha a {
    color: #fff;
    text-decoration: none;
}

.relembrar-senha a:hover {
    text-decoration: underline;
}

.wrapper .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 206, 206, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: var(--cor-texto);
    font-weight: 700;
    margin: 20px 0 15px;
}
.wrapper .button a {
    color: var(--cor-texto);

}
