:root {
    --cor-fundo: #E0F7D9;
    --cor-fundo-melhoria: #d4a5a5;
    --cor-texto-principal: #5d363d;
    /* Marrom escuro */
    --cor-texto-secundario: #4b666a;
    /* Cinza/Azul sutil para texto normal */
    --cor-botao-fundo: #6c4249;
    --cor-fundo-input: #e0f2f5;
    --fonte-serif: 'Momo Trust Display', serif;
    --fonte-sans: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-serif);
    line-height: 1.6;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-secundario);
}

/* centralizador e limitador dos conteúdos*/
.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-serif);
    color: var(--cor-texto-principal);
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--cor-texto-principal);
}

a {
    text-decoration: none;
    color: var(--cor-texto-principal);
    transition: color 0.3s;
}

a:hover {
    color: var(--cor-botao-fundo);
}

/* estilo do botão */
.botao {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    border: none;
}

.botao-principal {
    background-color: var(--cor-botao-fundo);
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: var(--fonte-sans);
    font-family: var(--fonte-sans);
}

.botao-principal:hover {
    opacity: 0.9;

}

.botao-secundario {
    background-color: var(--cor-botao-fundo);
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: var(--fonte-sans);
}

.botao-secundario:hover {
    opacity: 0.9;
}


/* 1. cabeçalho*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    background-color: var(--cor-fundo);
    backdrop-filter: blur(5px);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    margin: 0;
    color: var(--cor-texto-principal);
}

.nav a {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-texto-principal);
}


/* 2. seção principal*/
.secao-principal {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    /* configuração de imagem*/
    background-image: url('/assets/img.jpg');
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.conteudo-principal {
    padding: 20px;
    text-shadow: 10px;
    color: var(--cor-texto-principal);
    max-width: 80%;
    margin: 0 auto;
}

/* título em destaque*/
.conteudo-principal h2 {
    font-size: 5rem;
    padding: 20px 0;
    margin: 0;
}

.titulo {
    color: var(--cor-fundo);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px;

}
/*seção sobre melhorias*/
 .div-melhoria{
    align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	padding: 40px;
	background-color: var(--cor-fundo-melhoria);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70rem;
	margin: 30px auto;
 }

 .container-melhoria {
    color: #3d1f24;
	display: flex;
	gap: 20px;
}
.div-principal{
    background-color: #f5f9f9; /* Quase branco com tom frio */
    color: #2d1a1f; /* Texto bem escuro */
    border-left: 4px solid var(--cor-botao-fundo); 
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(49, 3, 87, 0.1);
	width: 30rem;
	text-align: center;
}

.lista {
	list-style-position: inside;
	text-align: justify;
	padding: 20px;
	margin-bottom: 10px;
	line-height: 30px;
}

.lista li {
    background-color: #f0f0f0; 
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; 
}

.lista li:hover {
    background-color: var(--cor-texto-principal); 
    color: white; 
    transform: scale(1.05); 
}

.descricao {
	display: none;
}



/* 3. seção Sobre projeto*/
.secao-sobre {
    padding: 100px 0;
    background-color: var(--cor-fundo);
}

.secao-flex {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.secao-sobre .secao-flex:nth-child(even) { /*cada vez */
    flex-direction: row-reverse;
}

.sobre-image-wrapper {
    flex: 1;
    min-height: 600px;
    background-color: #ccc;

    background-image: url('/assets/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
}

.secao-sobre .secao-flex:nth-child(even) .sobre-image-wrapper {
    background-image: url('/assets/2.jpg');
}


.sobre-text-content {
    flex: 1;
    padding-right: 20px;
}

.sobre-text-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--cor-texto-secundario);
    line-height: 1.8;
}

/* 4. Seção de Contato*/
.secao-contato {
    padding: 100px 0;
    background-color: var(--cor-fundo);
}


/*parte de formulário(acho que irei tirar)*/
.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
    align-items: start;
}

.contato-info p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group-inline {
    display: flex;
    gap: 20px;
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.full-width {
    width: 100%;
}

.contato-form label {
    font-size: 0.9rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 5px;
}
.card_erro {
	display: none;
	background-color: #fff;
	color: black;
	width: 230px;
	position: relative;
	border-radius: 15px;
	border: #4B2C8C 3px solid;
	padding: 5px;
	margin-right: 10%;
	margin-bottom: 5px;
}


.contato-form input,
.contato-form textarea {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cor-fundo-input);
    border-radius: 3px;
    font-family: var(--fonte-sans);
    font-size: 1rem;
    width: 100%;
}

.contato-form input:focus,
.contato-form textarea:focus {
    outline: 1px solid var(--cor-texto-principal);
    border-color: var(--cor-texto-principal);
    background-color: #fff;
}


.contato-form .botao-secundario {
    align-self: flex-start;
    /* alinha botão */
    margin-top: 10px;
}

/* rodapé*/
.footer {
    padding: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* largura das colunas*/
    gap: 30px;
}

.footer-titulo h5 {
    margin-bottom: 5px;
}

.squarespace-note {
    font-size: 0.85rem;
}

.squarespace-note a {
    color: var(--cor-texto-secundario);
    text-decoration: underline;
}

.footer-detalhes p,
.footer-detalhes address {
    font-style: normal;
    margin-top: 10px;
    color: var(--cor-texto-secundario);
    line-height: 1.6;
}

.footer-detalhes a {
    color: var(--cor-texto-secundario);
}

/* pequena responsividade*/
@media (max-width: 900px) {
    .sobre-flex {
        flex-direction: column;
        text-align: center;
    }

    .sobre-text-content {
        padding-right: 0;
    }

    .contato-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contato-form .botao-secundario {
        align-self: center;
    }
}

@media (max-width: 600px) {
    .secao-flex {
        flex-direction: column;
        /* Empilha a imagem e o texto verticalmente */
        text-align: center;
    }

    /* Remove a reversão para que a ordem seja sempre a mesma em telas pequenas */
    .secao-sobre .secao-flex:nth-child(even) {
        flex-direction: column;
    }

    .sobre-text-content {
        padding-right: 0;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .header .container {
        flex-direction: column;
        gap: 10px;
    }

    .nav {
        margin-top: 5px;
    }

    .form-group-inline {
        flex-direction: column;
        gap: 15px;
    }
}